p, form {
	background: rgba(255, 255, 255, 0.5);
	width: 90%;
	margin: 2% auto; 
	border-radius: 10px;
}

p {
	border: 2px solid black;
	font-family: 'Hoefler Text', Georgia, serif;
	color: #45a316;
	text-shadow: 0 1px #154c86;
	font-size: 240%;
	padding: 1%;
	text-align: center;
}

form {
	border: 4px solid black;
	font-size: 130%;
	height: 600px;
}

label {
	display: flex;
    margin: 3px 15px;
}

.button.style.upload {
	width: 60px;
	height: 30px;
}

.scrollbar {
	height: 100px;
}

.add {
	width: 70px;
	height: 40px;
	margin: 40px 500px;
}

input {
	display: block;
    width: 80%;
    margin: 5px 10px;
    float: right;
}