#foundRecipes figure{
width: 25%;
display: inline-block;
background-color: aliceblue;
border-radius: 20px;
height: 100%;
border:3px solid green;
}

#foundRecipes figure:first-of-type{
    position: relative;
    height: 214px;
    top: -20px;
}
#foundRecipes figure:hover{
    background-color:rgb(210, 255, 183);
}

#foundRecipes img{
    width: 100%;
    border-radius: 20px;
}

#foundRecipes{
    margin:1em;
}

#foundRecipes a{
    color:black;
}

figcaption{
    text-align:center;
}