body {
	background-image: url("../images/background.jpg");
}

.container {  
	background-image: linear-gradient(rgba(255,255,255,0.85),
	                  rgba(255,255,255,0.85)), 
					  url("../images/background.jpg");
}

.method, .larger, .title, ul.ingredients, h2, li {
	font-family: Arial, sans-serif;
}

img{
	border-radius: 20px;
	cursor:pointer;
}


.title {
	font-size: 220%;
	font-weight: 900;
	color: #45a316;
	text-align: center;
}

h2 { 
	font-size: 160%;
	color: #45a316;
	padding: 5px 15px;
	border-bottom: 1.5px ridge grey;
	margin-top: 40px;
}

.top-layer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.top-layer img { margin-left: 20px;  }

.top-layer .right { 
	align-self: center;
	margin-left: 70px;
}

.icon {
	width: 50px;
	height: auto;
	margin: 10px 15px;
}

li { padding:10px; }

ul.recipe-details {
	height: 168px;
	padding: 50px 20px 0;
	list-style-type: none;
	font-size: 20px;
	text-transform: uppercase;
}

.larger {
	font-size: 180%;
	color: #45a316;
}

.middle-layer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container-ingr {
	flex-grow: 2;
	font-size: 120%;
	width: 35%;
}

.recipe {
	flex-grow: 4;
	width: 60%;
	font-size: 120%;
}

.comments textarea {
	display: block;
	margin: 20px auto;
	width: 95%;
	height: 100px;
	overflow: auto;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 20px;
    padding: 1em;
}

#commentButton{
	width: 200px;
    font-size: 19px;

}

.comments input {
	float: right;
	margin-right: 20px;
}

.more-of-this {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.more-of-this figure { margin: 5px 10px; }

.more-of-this figcaption {
	font-size: 130%;
	margin-bottom: 20px;
	color: black;
	text-shadow: 1px 1px white;
}

a { text-decoration: none; }

img.more {
	width: 280px;
	height: 180px;
}

.container-img {
    text-align: center;
    color: black;
}

.button { padding: 10px 20px; }

@media all and (max-width: 700px) {
	.top-layer, .container-ing, .recipe  {
		justify-content: space-around;
	}

	.top-layer .right { margin-left: 0; }

	.container-ing, .recipe {
		width: 100%;
	}
}

header:first-of-type { 
	display: block;
	width: 80%;
	margin: 0 auto;
	background: rgb(210, 255, 183);
}

header:first-of-type ul {
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
}

figure{
	border: 5px solid rgb(210, 255, 183);
    border-radius: 19px;
}
figure:hover{
	background-color:  rgb(210, 255, 183);
}
header:first-of-type ul li {
	flex-grow: 1;
	padding: 0 10px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	border: 0.5px solid white;
}

a {
    color: black;
    text-shadow: 1px 1px white;
}

img:first-of-type{
	border-radius: 60px;
}

.addInfo{
	font-weight: bold;
    font-size: 19px;
    padding-left: 1.5em;
	color: green;
	display: none;
}

#rating{
	width: 159px;
	display: block;
	margin: 0em 0em 2em 3em;
}


.right div{
	position: relative;
    top: 60px;
    right: -20px;
}

.comments ul img{
	width: 4%;
}

.comments p{
	display: inline-block;
	position: relative;
    left: 10px;
    top: -20px;
	height: 100%;
	color:green;
	font-weight: bold;
}

.comments ul{
	list-style-type: none;
}

.comments ul div{
	margin: -0.5em 0.2em 1em;
}

.comments ul li{
	background-color: aliceblue;
	border-radius: 20px;
	margin:1em;
	cursor: pointer;
}

#errInfo p{
	color:red; text-indent:2em;
}

#errInfo{
	display:none;
}
