#foundRecipes figure{
width: 25%;
display: inline-block;
background-color: aliceblue;
border-radius: 20px;
height: 100%;
border:3px solid green;
}


#foundRecipes figure:hover{
    background-color:rgb(210, 255, 183);
}

#foundRecipes img{
    width: 100%;
    border-radius: 20px;
}

#foundRecipes { margin: 0; }

#foundRecipes a{
    font-size: 27px;
    color:black;
}

figcaption{
    text-align:center;
}

figcaption span{
    color: green;
    font-size: 16px;
    border-right: 2px solid green;
    padding: 6px;
}
figcaption span:last-child{
    border:none;
}