body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: url("../images/background.jpg") repeat;
	font-family: Arial, Helvetica, sans-serif;
}

header nav {
	margin: 0;
	padding: 0;
}

#back-btn {
	position: fixed;
	top: 0;
	width: 50px;
	height: auto;
	font-size: 250%;
	border: none;
	background: transparent;
}

#back-btn a { color: green; }

* { box-sizing: border-box; }

a { text-decoration: none; }

a:active { color: white; }
